@tailwind base;
@tailwind components;
@tailwind utilities;


/* Importa las fuentes desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");


html, body {
  font-family: 'noto-serif', serif; 
    max-width: 100%;
    overflow-x: hidden;

  
}

@layer base {
  :root {
    --background: #FCCD2A; 
    --foreground: #347928;
    --primary:#fccd2a; 
    --secondary: #FFFBE6;
    --tertiary: #C0EBA6;
    --border: rgba(0, 0, 0, 0.1); 
    --radius: 1rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .shadow-old-money {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }

  .rounded-old-money {
    border-radius: var(--radius); /* Bordes redondeados */
  }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.borderBlack {
  @apply border-black/10;
}
.carousel {
  overflow: hidden; /* Evitar que se vean elementos fuera del contenedor */
}

.carousel-content {
  display: flex;
  align-items: center;
}

.carousel-item {
  flex: 0 0 33%; /* Cada imagen ocupa 33% del ancho */
  transition: transform 0.3s ease;
}

.carousel-item:first-child {
  margin-left: -30%; /* Para desplazar la imagen de la izquierda */
}

.carousel-item:last-child {
  margin-right: -30%; /* Para desplazar la imagen de la derecha */
}
